<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/dashboard.css')}}"
    />
    <style>
      .bg-image {
          position: relative;
      }

      .bg-image::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 1;
      }
      
      .bg-image .card-body {
          position: relative;
          z-index: 2;
      }
      </style>
  </head>
  <body class="{{ session['theme'] }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/event">E.Manager</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/event#upcomingEvents">Upcoming Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event#eventRegistration"
              >Event Registration</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event_manager">Event Management</a>
          </li>
          {% if 'role' in session and session['role'] == 'Admin' or 'role' in
          session and session['role'] == 'Co-Admin' %}
          <li class="nav-item">
            <a class="nav-link" href="/event/create">Create Event</a>
          </li>
          {% endif %} {% if 'role' in session and session['role'] == 'Admin' %}
          <li class="nav-item">
            <a class="nav-link" href="/user_management">User Management</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          <form action="/toggle_theme" method="post" id="toggle-theme-form" class="border-0">
            <input type="submit" class="form-control border-0" value="{% if session['theme'] == 'light-theme' %} &#9788 {% else %} &#9790 {% endif %}" />
          </form>
          {% if 'username' in session %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              👤 {{ session['username'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="/signup">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if msg %}
    <div class="msg" style="top: 50px;">{{msg}}</div>
    {% endif %}

    <!-- Upcoming Events -->
    <div id="upcomingEvents" class="container mt-4">
      <h2>Upcoming Events</h2>
      <div class="row card-deck">
        {% for event in events %}
        <div class="col-sm-4">
          <div class="card mb-3 bg-image" style="background-image: url('{{event.image_url}}'); background-size: cover;">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">{{ event.description }}</p>
              <p class="card-text">
                <small class="text-muted">
                  Event Date : {{ event.date }}
                </small>
              </p>
              <a href="{{ url_for('details', event_id=event.id) }}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Event Registration -->
    <div id="eventRegistration" class="container mt-4">
      <h2>Event Registration</h2>
      <!-- Event registration form here -->
      <div id="eventRegistration1" class="container mt-4">
        <form action="/event/register" method="post">
          <div class="form-group">
            <label for="eventId">Event ID</label>
            <select class="form-control" id="eventId" name="event_id" required>
              {% for event in events %}
              <option value="{{ event.id }}">{{ event.title }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
